body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-color: #35a194;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}
